<div class="container-fluid">
    <div class="row">
   
        <div class="col-5 HX">

          <div class="col-12" >
            <div class="row" style="margin-top:10px;">

              <div class="col-3" style="padding-left:3px;padding-right:10px;" style="margin-top: 4px;
              color: #6f7379;
              font-weight: 380;">
                TO DO List
              </div>

              <div class="col-6" style="padding:0px;">
                <button type="search" class="buton" value="search" name="search">Search <i class="fa fa-search searc" style="padding-left: 56%;
                  color: #a2a2a2;"></i></button>
              </div>

              <div class="col-3"   style="padding-right: 15px;">
                <i class="fa fa-angle-down" style="font-size: 25px;
                color: #8c8c8c;
                padding-right: 10px;
                cursor: pointer;"></i>
                <i class="fa fa-gear" style="font-size: 20px;
                color: #8c8c8c;
                padding-right: 10px;
                cursor: pointer;"></i>
                <i class="fa fa-close" style="font-size: 20px;
                color: #8c8c8c;
               
                cursor: pointer;"></i>
              </div>
            </div>
           
           
          </div>
<br>
          <hr>      
        <div class="col-12 XH">
          <div class="row">
            <div class="col-1"> 
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultChecked2" checked>
                <label class="custom-control-label" for="defaultChecked2"></label>
              </div>
            </div>
            <div class="col-8 text">
              Text of the printing and typesetting industry
            </div>
            <div class="col-3" style="padding-left:3px;padding-right:10px;">
              <i style="font-size:18px; color:#8c8c8c;cursor:pointer;" class="fa">&#xf087;</i>
              <i class="fa fa-pencil" style="font-size:18px;margin-left: 20px;color:#8c8c8c;cursor:pointer;"></i>
              <i class="fa fa-close" style="font-size:18px;color:#8c8c8c;cursor:pointer;;margin-left: 20px;"></i>
            
            </div>
          </div>
        </div>

        <div class="col-12 XH">
          <div class="row">
            <div class="col-1"> 
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultchecked">
                <label class="custom-control-label" for="defaultchecked" ></label>
            </div>
            </div>
            <div class="col-8 text">
              Text of the printing and typesetting industry
            </div>
            <div class="col-3" style="padding-left:3px;padding-right:10px;">
              <i style="font-size:18px; color:#8c8c8c;cursor:pointer;" class="fa">&#xf087;</i>
              <i class="fa fa-pencil" style="font-size:18px;margin-left: 20px;color:#8c8c8c;cursor:pointer;"></i>
              <i class="fa fa-close" style="font-size:18px;color:#8c8c8c;cursor:pointer;;margin-left: 20px;"></i>
            
            </div>
          </div>
        </div>

        <div class="col-12 XH">
           <div class="row">
  <div class="col-1"> 
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="defaultchecked">
      <label class="custom-control-label" for="defaultchecked" ></label>
  </div>
  </div>
  <div class="col-8 text">
    Text of the printing and typesetting industry
  </div>
  <div class="col-3" style="padding-left:3px;padding-right:10px;">
    <i style="font-size:18px; color:#8c8c8c;cursor:pointer;" class="fa">&#xf087;</i>
    <i class="fa fa-pencil" style="font-size:18px;margin-left: 20px;color:#8c8c8c;cursor:pointer;"></i>
    <i class="fa fa-close" style="font-size:18px;color:#8c8c8c;cursor:pointer;;margin-left: 20px;"></i>
  
  </div>
            </div>
        </div>



        <div class="col-12 XH">
          <div class="row">
 <div class="col-1"> 
   <div class="custom-control custom-checkbox">
     <input type="checkbox" class="custom-control-input" id="defaultchecked">
     <label class="custom-control-label" for="defaultchecked" ></label>
 </div>
 </div>
 <div class="col-8 text">
  Text of the printing and typesetting industry
</div>
<div class="col-3" style="padding-left:3px;padding-right:10px;">
  <i style="font-size:18px; color:#8c8c8c;cursor:pointer;" class="fa">&#xf087;</i>
  <i class="fa fa-pencil" style="font-size:18px;margin-left: 20px;color:#8c8c8c;cursor:pointer;"></i>
  <i class="fa fa-close" style="font-size:18px;color:#8c8c8c;cursor:pointer;;margin-left: 20px;"></i>

</div>
           </div>
       </div>


       <div class="col-12 XH">
        <div class="row">
<div class="col-1"> 
 <div class="custom-control custom-checkbox">
   <input type="checkbox" class="custom-control-input" id="defaultchecked">
   <label class="custom-control-label" for="defaultchecked" ></label>
</div>
</div>
<div class="col-8 text">
Text of the printing and typesetting industry
</div>
<div class="col-3" style="padding-left:3px;padding-right:10px;">
<i style="font-size:18px; color:#8c8c8c;cursor:pointer;" class="fa">&#xf087;</i>
<i class="fa fa-pencil" style="font-size:18px;margin-left: 20px;color:#8c8c8c;cursor:pointer;"></i>
<i class="fa fa-close" style="font-size:18px;color:#8c8c8c;cursor:pointer;;margin-left: 20px;"></i>

</div>
         </div>
     </div>

     <hr style="margin-top:30px !important;">

     <div class="col-12">

      <div class="row">

        <div class="col-1"> 
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultchecked">
            <label class="custom-control-label" for="defaultchecked" ></label>
        </div>
        </div>
        <div class="col-3 text">
         Select all
       </div>

       <div class="col-4" style="padding-right:3px;padding-left: 3px;">
        <button type="search" class="buton" value="search" name="search"> Write here</button>
       </div>

       <div class="col-4"  style="padding-right:3px;padding-left: 3px;">
        <button type="search" class="buttton" value="search" name="search"> Add Task</button>
       </div>

      </div>
      
      

     </div>


       
    </div>







    <!---->

    <div class="col-5 HX">

      <div class="col-12" >
        <div class="row" style="margin-top:10px;">

          <div class="col-3" style="padding-left:3px;padding-right:10px;" style="margin-top: 4px;
          color: #6f7379;
          font-weight: 500;">
            DB:<span style="font-weight: 700;color:rgb(59, 55, 55)">Users</span>
          </div>

          <div class="col-6" style="padding:0px;">
            <button type="search" class="buton" value="search" name="search">Search <i class="fa fa-search searc" style="padding-left: 56%;
              color: #a2a2a2;"></i></button>
          </div>

          <div class="col-3"   style="padding-right: 15px;">
            <i class="fa fa-angle-down" style="font-size: 25px;
            color: #8c8c8c;
            padding-right: 10px;
            cursor: pointer;"></i>
            <i class="fa fa-gear" style="font-size: 20px;
            color: #8c8c8c;
            padding-right: 10px;
            cursor: pointer;"></i>
            <i class="fa fa-close" style="font-size: 20px;
            color: #8c8c8c;
           
            cursor: pointer;"></i>
          </div>
        </div>
       
       
      </div>

      <br>
      
      <div class="col-12">
        <div class="row" style="font-size: 11px;
    font-weight: 600;">
        <div class="col-2">
          #
        </div>
        <div class="col-2">
          Avatar
        </div>
        <div class="col-2">
          Full name
        </div>
        <div class="col-2">
          User name
        </div>
        <div class="col-2">
          Uploads
        </div>
        <div class="col-2">
          Downloads
        </div>
      </div>
      </div>
      <br>

<table>
  

 

  <tr>
    <td>1</td>
    <td> <img src="../assets/images/ben.webp" class="ben" style="height: 20px;
      margin-left: 35px;"></td>
    <td>robert</td>
    <td>rob</td>
    <td>72</td>
    <td>28</td>
    <td> <i class="fa fa-close" style="font-size: 20px;
      color: #8c8c8c;
     
      cursor: pointer;"></i></td>
  </tr>
  <tr>
    <td>2</td>
    <td> <img src="../assets/images/ben.webp" class="ben" style="height: 20px;
      margin-left: 35px;"></td>
    <td>robert</td>
    <td>rob</td>
    <td>72</td>
    <td>28</td>
    <td> <i class="fa fa-close" style="font-size: 20px;
      color: #8c8c8c;
     
      cursor: pointer;"></i></td>
  </tr>
  <tr class="rt">
    <td>3</td>
    <td> <img src="../assets/images/ben.webp" class="ben" style="height: 20px;
      margin-left: 35px;"></td>
    <td>robert</td>
    <td>rob</td>
    <td>72</td>
    <td>28</td>
    <td> <i class="fa fa-close" style="font-size: 20px;
      color: #8c8c8c;
     
      cursor: pointer;"></i></td>
  </tr>
  <tr>
    <td>4</td>
    <td> <img src="../assets/images/ben.webp" class="ben" style="height: 20px;
      margin-left: 35px;"></td>
    <td>robert</td>
    <td>rob</td>
    <td>72</td>
    <td>28</td>
    <td> <i class="fa fa-close" style="font-size: 20px;
      color: #8c8c8c;
     
      cursor: pointer;"></i></td>
  </tr>
  <tr>
    <td>5</td>
    <td> <img src="../assets/images/ben.webp" class="ben" style="height: 20px;
      margin-left: 35px;"></td>
    <td>robert</td>
    <td>rob</td>
    <td>72</td>
    <td>28</td>
    <td> <i class="fa fa-close" style="font-size: 20px;
      color: #8c8c8c;
     
      cursor: pointer;"></i></td>
  </tr>
  <tr>
    <td>6</td>
    <td> <img src="../assets/images/ben.webp" class="ben" style="height: 20px;
      margin-left: 35px;"></td>
    <td>robert</td>
    <td>rob</td>
    <td>72</td>
    <td>28</td>
    <td> <i class="fa fa-close" style="font-size: 20px;
      color: #8c8c8c;
     
      cursor: pointer;"></i></td>
  </tr>

  <tr>
    <td>7</td>
    <td> <img src="../assets/images/ben.webp" class="ben" style="height: 20px;
      margin-left: 35px;"></td>
    <td>robert</td>
    <td>rob</td>
    <td>72</td>
    <td>28</td>
    <td> <i class="fa fa-close" style="font-size: 20px;
      color: #8c8c8c;
     
      cursor: pointer;"></i></td>
  </tr>

 
  <tr >
    <td>9</td>
    <td> <img src="../assets/images/ben.webp" class="ben" style="height: 20px;
      margin-left: 35px;"></td>
    <td>robert</td>
    <td>rob</td>
    <td>72</td>
    <td>28</td>
    <td> <i class="fa fa-close" style="font-size: 20px;
      color: #8c8c8c;
     
      cursor: pointer;"></i></td>
  </tr>
  <tr>
    <td>10</td>
    <td> <img src="../assets/images/ben.webp" class="ben" style="height: 20px;
      margin-left: 35px;"></td>
    <td>robert</td>
    <td>rob</td>
    <td>72</td>
    <td>28</td>
    <td> <i class="fa fa-close" style="font-size: 20px;
      color: #8c8c8c;
     
      cursor: pointer;"></i></td>
  </tr>

 
</table>



    </div>

</div>
</div>

