<div class="container-fluid">
    <div class="col-12">


   
    <div class="row">
        <div class="col-2 HX">
           
            <div class="col-6">
                <img src="../../assets/images/tsestimate.png" style="height:100px;width:120px;">  
            </div>
           
                <h1 class="number">Traffic source</h1>         <h6 class="userss">65(Mid Level)</h6>
           
       
        </div>
       

       
        <div class="col-2 HX">
           
                <div class="col-6">
                    <img src="../../assets/images/map.jpg" style="height:100px;width:120px;">  
                </div>
               
                    <h1 class="number">Visitors Map</h1>        
               
           
            </div>
           


                 
            <div class="col-2 HX">
           
                <div class="col-6">
                    <img src="../../assets/images/scale.png" style="height:100px;width:120px;">  
                </div>
               
                    <h1 class="number"> Daily Scales</h1>        
               
           
            </div>
           
            <div class="col-2 HX">
           
                <div class="col-6">
                    <img src="../../assets/images/circle.png" style="height: 140px;
                    width: 135px;">  
                </div>
               
                  
               
           
            </div>
           
               
         </div>
        
        
      
</div>
</div>