<!--header-->

<div class="container-fluid HL">
    <div class="col-12">
        <div class="row">
            <div class="col-3" style=" padding: 0px;">
                <div class="admin">
                   <h6 class="ABB">Admin<span>BOX</span>  <i class="fa fa-caret-left" style="font-size: 20px;
                    color: #4295d0;
                    margin-left: 9px;"></i>
                    <i class="fa fa-caret-right" style="font-size: 21px;
                    color: #0216ff;"></i></h6> 
                </div>
                
            </div>
           

            <div class="col-3">
                <div class="iconss">
               <i class='fa fa-bell' style='font-size: 25px;
               color: #8a7979; cursor: pointer;'></i>
                <i class="fa fa-envelope-o" style="font-size: 25px;
                color: #8a7979;padding-right: 30px;padding-left:30px;cursor: pointer"></i>
                <i class="fa fa-star-o" style="font-size: 25px;cursor: pointer;
                color: #8a7979;"></i>
            </div>
 
            </div>
            <div class="col-3 " style="padding-right: 0px;">
               
                <button type="search" class="buton" value="search" name="search">Search <i class="fa fa-search searc" style="padding-left: 56%;
                    color: #a2a2a2;"></i></button>
            </div>
            <div class="col-3" style="padding-left:0px;">
                <div class="row" style="margin-top: 26px;">
                    <div class="bent">
                        <img src="../assets/images/ben.webp" class="ben" style="height: 28px;
                        margin-left: 35px;">
                    </div>
                    <div class="bems">
                        <h6 style="color:#8c8c8c;padding-left: 15px;padding-right:15px;">BEN wiilia</h6>
                    </div>
                    <div class="bens">
                        <i class="fa fa-angle-down" style="font-size:15px;color:#8c8c8c;padding-right: 15px;cursor: pointer;"></i>
                        <i class="fa fa-ellipsis-h" style="font-size:15px;color:#0c81ff ;cursor: pointer;"></i>
                    </div>
                </div>
           
            
            </div>
        </div>
    </div>
</div>


<div class="container-fluid ">
<div class="main">
    <ul>
    
    <button class="dropbtn active"><i class="fa fa-dashboard" style="font-size:15px;margin-right: 6px;"></i>Dashboard</button>
    <button class="dropbtn"><i class="fa fa-pencil" style="font-size:15px;margin-right: 6px;"></i>Layout</button>
    <button class="dropbtn"><i class="fa fa-calendar" style="font-size:15px;margin-right: 6px;"></i>Calendar</button>
    <button class="dropbtn"><i class="fa fa-book" style="font-size:15px;margin-right: 6px;"></i>UI Elements</button>
    <button class="dropbtn"><i class="fa fa-files-o" style="font-size:15px;margin-right: 6px;"></i>TextText & Forms</button>
    <button class="dropbtn"><i class="fa fa-envelope-o" style="font-size:15px;margin-right: 6px;"></i>Email</button>
    <button class="dropbtn"><i class="fa fa-plug" style="font-size:15px;margin-right: 6px;"></i>Iconset</button>
    <button class="dropbtn"><i class="fa fa-table" style="font-size:15px;margin-right: 6px;"></i>Datatables</button>
    <button class="dropbtn"><i class="fa fa-area-chart" style="font-size:15px;margin-right: 6px;"></i>Charts</button>
    <button class="dropbtn"><i class="fa fa-map-marker" style="font-size:15px;margin-right: 6px;"></i>Map</button>
    <button class="dropbtn"><i class="fa fa-user-circle-o" style="font-size:15px;margin-right: 6px;"></i>Profile</button>
    <button class="dropbtn"><i class="fa fa-lock" style="font-size:15px;margin-right: 6px;"></i>Login Page</button>
    
   
    </ul>
    </div>
   
   
</div>

<div class="container-fluid C-F">
    <div class="col-12 B_D">
        <div class="row">
            <div class="col-6">
                <h4 class="text">
                Dashboard
                </h4>
            </div>
            <div class="col-6">
                <h6 class="home">
                    Home/Dashboard
                </h6>
            </div>
        </div>
    </div>
</div>
    


<!----> 
<app-board></app-board>
<app-graph></app-graph>
<app-calendar></app-calendar>
<app-sales></app-sales>
<app-itemprogress></app-itemprogress>
<app-users-list></app-users-list>
<router-outlet></router-outlet>