
<div class="container-fluid">
    <div class="col-12">


   
    <div class="row">
        <div class="col-2 HX">
           <div class="row">
               <div class="col-6">
                <img src="../../assets/images/users.png" style="height:100px;">
               </div>
               <div class="col-6">
                <h1 class="number">24,467</h1>         <h6 class="userss">Total Users</h6>
               </div>
           </div>
               
                    
               
                  
               
             
           
         
        
        </div>

       
        <div class="col-2 HX">
            <div class="row">
                <div class="col-6">
                    <img src="../../assets/images/flag.png" style="height:100px;">  
                </div>
                <div class="col-6">
                    <h1 class="number">3,842</h1>         <h6 class="userss">New Order Recieved</h6>
                </div>
            </div>
            </div>
           


                 
             <div class="col-2 HX">
                <div class="row">
                    <div class="col-6">
                        <img src="../../assets/images/cbag.jpg" style="height:100px;">
                    </div>
                    <div class="col-6">
                        <h1 class="number">$45,555</h1>         <h6 class="userss">Total Sold Today</h6>
                    </div>
                    </div>


                </div>
                <div class="col-2 HX">
                    <div class="row">
                        <div class="col-6">
                            <img src="../../assets/images/devyman.jpg" style="height:100px;">
  
                        </div>
                        <div class="col-6">
                            <h1 class="number">4,578</h1>         <h6 class="userss">Total Items Delivery</h6>
                        </div>
                    </div> 
                
                   
                
              
            
          
         
         </div>

               
         </div>
        
        
      
</div>
</div>

